__pycache__
config.*
backend.py
test_func.py
test_uploader.sh
function.zip
file.json
docker-compose.yml
.env
launch.json
generate_func.py
test_bot.py
test_req.txt
backend.py
.vscode
.pytest*
scheme*
tmp
tests
